body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
    margin: auto;
    background-color: #E9ECFC;
    /*ancho de pagina width*/
    width: 90%;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: red;
    text-align: center;
}

h2{
    color: darkblue;
    text-align: right;
    border-bottom: solid blue 2px;
    padding: 2px;
}

div{
    

    text-align: center;
}

nav{
    background-color: yellow;
    font-family: sans-serif 14px;
    color: blue;
    border-radius: 20px ;
    margin: auto;
    padding: 20px;
    padding: 10%;
}
