h1 {
    color: darkred;
    font-family: Georgia;
    size: 36px;
}

h2 {
    size: 24px

}

body {
    color: darkblue;
    background:  url(./asests/fondo.gif);
    font-family: Verdana;
    size: 12px;

}
